<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
<<<<<<< HEAD
        <a class="navbar-brand" href="/">Links favoritos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
                {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Links
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/links">Todos los link</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/links/add">Agregar link</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/profile" class="nav-link">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Cerrar Sesión</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Registrarse</a>
                    </li>      
                {{/if}}
=======
        <a class="navbar-brand" href="/links">Links favoritos</a>
        {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> --}}
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Links
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/links">Todos los link</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/links/add">Agregar link</a>
                    </div>
                 </li>          
>>>>>>> 7eb1810d7095a33b48370fde346159b8092ec8e7
            </ul>
        </div>
    </div>
</nav>