<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrate</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group mb-3">
                            <input type="text" name="fullname" class="form-control" autofocus placeholder="Nombre Completo">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" name="username" placeholder="Nombre de usuario" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" placeholder="Contraseña" name="password" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-success btn-block">
                                <h5>Registrarse</h5>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>